<div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
        <div class="inner">
            <h3>
                {% if porcentagem.total > 0 %}{{ porcentagem.total_fechados * 100 / porcentagem.total }}{% else %}0{% endif %}<sup style="font-size: 20px">%</sup>
            </h3>

            <p>Chamados Atendidos</p>
        </div>
        <div class="icon">
            <i class="ion ion-stats-bars"></i>
        </div>
        <a href="{{ path('admin_problema_index') }}" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
    </div>
</div>