<section class="col-lg-6">
    <!-- DONUT CHART -->
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Top 10 Problemas</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <canvas id="top-problemas-chart" style="height:250px" data-chart="{{ chamados|json_encode }}"></canvas>
        </div>
    </div>
</section>